
<div class="container-fluid">

<div class="filter_option">
  <%= render "comm/searchbar"%>
  <div class="filter_part ">
    <ul>
      <li class="chosen" id="place" >
          <span class="title">工作地点:</span>
          <% @workplaces.limit(5).each_with_index do |place, index| %>
            <% if 0 == index %>
                <a class="filter_place_item active" id="<%= index+1 %>"><%= place.name %></a>
            <% else %>
                <a class="filter_place_item place" id="<%= index+1 %>"><%= place.name %></a>
            <% end %>

          <% end %>
          <span class="btn-more" href="javascript:;">更多 <i class="fa fa-sort-desc" aria-hidden="true"></i></span>
      </li>
      <li class="chosen" id = "work_years">
        <span class="title">工作经验:</span>
        <a href="javascript:;" class="active" id="1">不限</a>
        <a href="javascript:;" id="2">应届毕业生</a>
        <a href="javascript:;" id="3">3年以下</a>
        <a href="javascript:;" id="4">3-5年</a>
        <a href="javascript:;" id="5">5-10年</a>
        <a href="javascript:;" id="6">10年以上</a>
        </li>
        <li class="chosen" id = "education">
          <span class="title">学历要求:</span>
          <a href="javascript:;" class="active" id="1">不限</a>
          <a href="javascript:;" id="2">大专</a>
          <a href="javascript:;" id="3">本科</a>
          <a href="javascript:;" id="4">硕士</a>
          <a href="javascript:;" id="5">博士</a>
        </li>
        <li class="chosen" id = "industry">
          <span class="title">行业领域:</span>
          <%  @industries.limit(5).each_with_index do |industry, index| %>
              <% if index == 0 %>
                <a href="JavaScript:;" class="active" id="<%=index+1%>"> <%= industry.name %> </a>
              <% else %>
              <a href="JavaScript:;"  id="<%=index+1%>"  > <%= industry.name %> </a>
              <% end %>
          <% end %>
          <span class="btn-more" href="javascript:;">更多 <i class="fa fa-sort-desc" aria-hidden="true"></i></span>
        </li>
    </ul>
  </div>
</div>


  <table class="table">
  <thead>

    <th>job</th>
    <th>description</th>
    <th>salary</th>
    <th>contact</th>
    <th>date</th>
  </thead>
  <tbody>
    <%= render :partial => "jobitem", :collection => @jobs , :as => :job  %>
  </tbody>
</table>

<div class="row">

  <div class="flickr_pagination">
      <%= will_paginate @jobs, :container => false %>
  </div>
</div>

</div>
