<div class="job_company">
  <%= simple_form_for [:admin , @job] do |f| %>
    <div class="form-group">
      <%= f.input :title, input_html: {class: "form-control"}, label: 'Job Name', error:'Job name cant be empty' %>
      <%= f.input :description, input_html: {class: "from-control"}, label: 'Job description' %>
      <%= f.input :work_place, input_html: {class: "from-control"} , label: '工作地点' %>
      <%= f.input :work_years, input_html: {class: "from-control"} , label: '工作经验' %>
      <%= f.input :education, input_html: {class: "from-control"} , label: '学历要求', collection:@academics, prompt:"选择学历" %>
      <%= f.input :salaryMin, input_html: {class: "from-control"} , label: '薪资下限' %>
      <%= f.input :salaryMax, input_html: {class: "from-control"}, label: "薪资上限" %>
      <%= f.input :contact, input_html: {class: "from-control"}, label: 'Email'%>
      <%= f.input :hide, input_html: {class: "from-control"}, as: :boolean%>
    </div>
    <%= f.submit "创建", class: "btn btn-primary", data: {disable_width: "Submitting..."} %>
  <% end %>
</div>
