<!DOCTYPE html>
<html>
  <head>
    <title>今日招聘</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <link rel="shortcut icon" href="images/favicon.ico"/>
  </head>

  <body id="welcomepage">

    <div class="container-fluid">
      <div class="row">
        <%= render "comm/navbar" %>
      </div>
      <%= render "comm/flashs" %>
      <%= yield %>
    </div>
    <%= render "comm/footer" %>

    <script>

    function handleScrollTopEvent() {
      // Add smooth scrolling to all links in navbar + footer link
      $(".navbar a, footer a[href='#welcomepage']").on('click', function(event) {

       // Make sure this.hash has a value before overriding default behavior
      if (this.hash !== "") {

        // Prevent default anchor click behavior
        event.preventDefault();

        // Store hash
        var hash = this.hash;

        // Using jQuery's animate() method to add smooth page scroll
        // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 900, function(){

          // Add hash (#) to URL when done scrolling (default click behavior)
          window.location.hash = hash;
          });
        } // End if
      });
    }

    function updateItemState(objectid, value){

      if(value != 1){
        $(objectid).find("a").each(function (index) {
          $(this).removeClass("active");
          if($(this).prop("id") == value){
            $(this).addClass("active");
          }
        });
      }
      else{
        $(objectid).find("a").first().addClass("active");
      }

    }

    function updateAllFilterState() {

        var place =  localStorage.getItem('place');
        var work_years =  localStorage.getItem('work_years');
        var education =  localStorage.getItem('education');
        var industry =  localStorage.getItem('industry');
        var search = localStorage.getItem('search');

        updateItemState('#place', place);
        updateItemState('#work_years', work_years);
        updateItemState('#education', education);
        updateItemState('#industry', industry);
        if(search == null){
          $('#search-input').attr("placeholder","今日招聘").val('').focus().blur();
        }
        else{
          $('#search-input').val(search).focus().blur();
        }
        console.log("place : " + place + " workyears: " + work_years + " education: " + education + " industry: " + industry + " search :" + search);

    }

    function  handleLinkClickEventFromFilterArea() {

      $(".filter_part a").on('click', function(event){

          var value = $(this).value;
          var needUseAjax = false;
          var valuesToSubmit = '';
          var ahref = $(this).attr("href");
          //sort new , default
          var linkid = ($(this).prop("id"));
          if(linkid=='order_new'){
            order = "order=by_new";
            localStorage.setItem("order", order);
            needUseAjax = true;
          }
          else if(linkid == 'order_default'){
            order = "order=by_default";
            localStorage.setItem("order", order);
            needUseAjax = true;
          }

          if(needUseAjax){

            var myurl = "/jobs";
            valuesToSubmit += filterQueryStr();
            valuesToSubmit = encodeURIComponent(valuesToSubmit);

            console.log("valuesToSubmit" + valuesToSubmit + "myurl : " + myurl);

            if(valuesToSubmit != null){

              $.ajax({
                type: "POST",
                url: myurl,
                data: valuesToSubmit,
                dataType: "html"
              }).success(function (json) {
                console.log("success: " + json);
                eval(json);
              }).error(function (error) {
                console.log("error: " + error);
              });
            }
          }
      });
    }

   function handleLinkClickEventFromPaginate() {

     $(document).on('click','.flickr_pagination a', {}, function(event){

         var value = $(event.target).text()
         var needUseAjax = false;
         var valuesToSubmit = '';
         var href = $(this).attr("href");

         //will page search job list or normal job list
         if(href.startsWith('/jobs/search?') ||
           href.startsWith('/jobs?')){
           needUseAjax = true;
           if(value != null){
             valuesToSubmit = "page="+value;
           }
         }

         console.log("valuesToSubmit" + valuesToSubmit + " href : " + href);

         if(needUseAjax){

           event.preventDefault();
           event.stopImmediatePropagation();

           var myurl = "/jobs/search";
           if(href.startsWith('/jobs?')){
              myurl = "/jobs";
           }
           valuesToSubmit += filterQueryStr();
           valuesToSubmit = encodeURIComponent(valuesToSubmit);
           //will_page
           console.log("myurl : " + myurl + " valuesToSubmit:" + valuesToSubmit);

           if(valuesToSubmit != null){

             $.ajax({
               type: "POST",
               url: myurl,
               data: valuesToSubmit,
               dataType: "html"
             }).success(function (json) {
               console.log("success: " + json);
               eval(json);
             }).error(function (error) {
               console.log("error: " + error);
             });
           }
         }
     });
   }

    function handleSearchFormSubmitEvent() {

           $("#job_search").submit(function() {

               var searchword = $(this).parent().find("#search-input").val();
               localStorage.setItem("search", searchword);
               var valuesToSubmit = $(this).serialize();
               //utf8=✓&q[searchjob_cont]=&q[title_cont]=
               valuesToSubmit = decodeURIComponent(valuesToSubmit);
               valuesToSubmit += filterQueryStr();
               valuesToSubmit = encodeURIComponent(valuesToSubmit);
               var myUrl = $(this).prop('action');
               localStorage.setItem('currentUrl', myUrl);

               console.log("valuesToSubmit = " + valuesToSubmit + " myUrl : " + myUrl);
               $.ajax({
                 type: "POST",
                 url: myUrl,
                 data: valuesToSubmit,
                 dataType: "html"
               }).success(function (json) {
                 console.log(json);
               }).error(function (error) {
                 console.log(error);
               });
           });
     }

    function filterQueryStr() {

      var valuesToSubmit = '';
      var place =  localStorage.getItem('place');
      var work_years =  localStorage.getItem('work_years');
      var education =  localStorage.getItem('education');
      var industry =  localStorage.getItem('industry');
      var order =  localStorage.getItem('order');

      if(parseInt(place) != 1){
        valuesToSubmit += "&q[work_place_eq]="+place;
      }
      if(parseInt(work_years) != 1){
        valuesToSubmit += "&q[work_years_eq]="+work_years;
      }
      if(parseInt(education) != 1){
        valuesToSubmit += "&q[education_eq]="+education;
      }
      if(parseInt(industry) != 1){
        valuesToSubmit += "&q[company_industry_eq]="+industry;
      }
      if(order != null){
        valuesToSubmit += "&";
        valuesToSubmit += order;
      }
      return valuesToSubmit;
    }

    function handleOrderBySalaryEvent() {

        $('.selectpicker').on('change', function() {

          var myurl = localStorage.getItem('currentUrl');
          if(myurl == null){
            myurl = '/jobs'
          }
          var value = this.value;
          var valuesToSubmit = '';

           if(1 != value){
             var order = null;
             if(2 == value){
                 order = "order=by_min_salary";
             }
             else if(3 == value){
                 order = "order=by_max_salary";
             }
             if(order != null){
               localStorage.setItem("order", order);
               valuesToSubmit += "&";
               valuesToSubmit += order;
             }
           }
          valuesToSubmit += filterQueryStr();
          valuesToSubmit = encodeURIComponent(valuesToSubmit);

          $.ajax({
            type: "POST",
            url: myurl,
            data: valuesToSubmit,
            dataType: "html"
          }).success(function (json) {
            console.log(json);
            eval(json);
          }).error(function (error) {
            console.log(error);
          });

        });
    }

    function turnOnRemoteDataForSearchFormIfNeeded() {
      var path = window.location.pathname;
      if(path == '/'){
        $("#job_search").attr('data-remote', false);
        $("#job_search").attr('action', '/jobs');
      }
      else{
        $("#job_search").attr('data-remote', true);
      }
      console.log("page path : " + path);
    }

    function updateLinkStateForFilterArea() {

      $(".filter_part a").on('click', function(event){
          var id = $(this).parent().prop("id");
          var type = parseInt($(this).prop("id"));
          localStorage.setItem(id, type);
          $(this).parent().find("a").removeClass("active");
          $(this).addClass("active");
      });
    }

    $(document).ready(function(){

          handleScrollTopEvent();

          updateLinkStateForFilterArea();
          //turn on remote function for search from only for job controller
          turnOnRemoteDataForSearchFormIfNeeded();
          // update select status
          updateAllFilterState();
          // hook order by new or default event
          handleLinkClickEventFromFilterArea();
          // hook paginate event
          handleLinkClickEventFromPaginate();
          //hook submit event
          handleSearchFormSubmitEvent();
          //hook order by salary vent
          handleOrderBySalaryEvent();
        });

</script>


  </body>



</html>
