<!DOCTYPE html>
<html>
  <head>
    <title>JobListing</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <link rel="shortcut icon" href="images/favicon.ico"/>
  </head>

  <body id="welcomepage">

    <div class="container-fluid">
      <div class="row">
        <%= render "comm/navbar" %>
      </div>
      <%= render "comm/flashs" %>
      <%= yield %>
    </div>
    <%= render "comm/footer" %>

    <script>
    $(document).ready(function(){
      // Add smooth scrolling to all links in navbar + footer link
      $(".navbar a, footer a[href='#welcomepage']").on('click', function(event) {

       // Make sure this.hash has a value before overriding default behavior
      if (this.hash !== "") {

        // Prevent default anchor click behavior
        event.preventDefault();

        // Store hash
        var hash = this.hash;

        // Using jQuery's animate() method to add smooth page scroll
        // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 900, function(){

          // Add hash (#) to URL when done scrolling (default click behavior)
          window.location.hash = hash;
          });
        } // End if
      });
    });

    $(document).ready(function(){
      $(".filter_part a").on('click', function(event){
          var id = $(this).parent().prop("id");
          var type = parseInt($(this).prop("id"));
          localStorage.setItem(id, type);
          $(this).parent().find("a").removeClass("active");
          $(this).addClass("active");

      });
      var path = window.location.pathname;
      if(path == '/'){
        $("#job_search").attr('data-remote', false);
        $("#job_search").attr('action', '/jobs');
      }
      else{
        $("#job_search").attr('data-remote', true);
      }
      console.log("page path : " + path);

      $(".filter_part a").on('click', function(event){

          var value = $(this).value;
          var needUseAjax = false;
          var valuesToSubmit = '';
          var ahref = $(this).attr("href");

          //sort new , default
          var linkid = ($(this).prop("id"));

          if(linkid=='order_new'){
            valuesToSubmit =  valuesToSubmit == null ? 'order=by_new':'&order=by_new';
            localStorage.setItem("order", order);
            needUseAjax = true;

          }
          else if(linkid == 'order_default'){
            valuesToSubmit =  valuesToSubmit == null ? 'order=by_default':'&order=by_default';
            localStorage.setItem("order", order);
            needUseAjax = true;
          }
          console.log("valuesToSubmit" + valuesToSubmit + "href : " + href);

          if(needUseAjax){

            var myurl = "/jobs/search";
            var place =  localStorage.getItem('place');
            var work_years =  localStorage.getItem('work_years');
            var education =  localStorage.getItem('education');
            var industry =  localStorage.getItem('industry');

            if(parseInt(place) != -1){
              valuesToSubmit += "&q[work_place_eq]="+place;
            }
            if(parseInt(work_years) != -1){
              valuesToSubmit += "&q[work_years_eq]="+work_years;
            }
            if(parseInt(education) != -1){
              valuesToSubmit += "&q[education_eq]="+education;
            }
            if(parseInt(industry) != -1){
              valuesToSubmit += "&q[company_industry_eq]="+industry;
            }


            valuesToSubmit = encodeURIComponent(valuesToSubmit);

            console.log("linkid : " + linkid );

            //will_page

            if(valuesToSubmit != null){

              $.ajax({
                type: "POST",
                url: myurl,
                data: valuesToSubmit,
                dataType: "html"
              }).success(function (json) {
                eval(json);
              }).error(function (error) {
                console.log(error);
              });
            }
          }


      });

      $(document).on('click','.flickr_pagination a', {}, function(event){

          var value = $(event.target).text()
          var needUseAjax = false;
          var valuesToSubmit = '';
          var ahref = $(this).attr("href");

          // alert(ahref + " value: " + value);

          //will page
          if(ahref.startsWith('/jobs/search?')){
            needUseAjax = true;
            if(value != null){
              valuesToSubmit = "page="+value;
            }
          }

          console.log("valuesToSubmit" + valuesToSubmit + " href : " + ahref);

          if(needUseAjax){

            var myurl = "/jobs/search";
            var place =  localStorage.getItem('place');
            var work_years =  localStorage.getItem('work_years');
            var education =  localStorage.getItem('education');
            var industry =  localStorage.getItem('industry');
            var order = localStorage.getItem('order');

            if(parseInt(place) != -1){
              valuesToSubmit += "&q[work_place_eq]="+place;
            }
            if(parseInt(work_years) != -1){
              valuesToSubmit += "&q[work_years_eq]="+work_years;
            }
            if(parseInt(education) != -1){
              valuesToSubmit += "&q[education_eq]="+education;
            }
            if(parseInt(industry) != -1){
              valuesToSubmit += "&q[company_industry_eq]="+industry;
            }

            if(order != null){
              valuesToSubmit += "&";
              valuesToSubmit += order;
            }



            valuesToSubmit = encodeURIComponent(valuesToSubmit);
            //will_page
            console.log("ahref : " + ahref + " valuesToSubmit:" + valuesToSubmit);
            if(valuesToSubmit != null){

              $.ajax({
                type: "POST",
                url: myurl,
                data: valuesToSubmit,
                dataType: "html"
              }).success(function (json) {
                eval(json);
                console.log(json);
              }).error(function (error) {
                console.log(error);
              });
            }
          }


      });




      function updateItemState(objectid, value){
        if(value != 1){
          $(objectid).find("a").each(function (index) {
            $(this).removeClass("active");
            if($(this).prop("id") == value){
              $(this).addClass("active");
              console.log("objectid: " + objectid +  " active" + $(this).toString() + " index : " + (index+1));
            }
          });
        }
        else{
          $(objectid).find("a").first().addClass("active");
          console.log("objectid: " + objectid +  " active" + $(this).toString());
        }

      }

      // update select status
      {
        var place =  localStorage.getItem('place');
        var work_years =  localStorage.getItem('work_years');
        var education =  localStorage.getItem('education');
        var industry =  localStorage.getItem('industry');
        var search = localStorage.getItem('search');


        updateItemState('#place', place);
        updateItemState('#work_years', work_years);
        updateItemState('#education', education);
        updateItemState('#industry', industry);
        if(search == null){
          $('#search-input').attr("placeholder","今日招聘").val('').focus().blur();
        }
        else{
          $('#search-input').val(search).focus().blur();
        }
        console.log("place : " + place + " workyears: " + work_years + " education: " + education + " industry: " + industry + " search :" + search);
      }



      $("#job_search").submit(function() {
          var searchword = $(this).parent().find("#search-input").val();
          localStorage.setItem("search", searchword);
          var valuesToSubmit = $(this).serialize();
          //utf8=✓&q[searchjob_cont]=&q[title_cont]=
          valuesToSubmit = decodeURIComponent(valuesToSubmit);
          var place =  localStorage.getItem('place');
          var work_years =  localStorage.getItem('work_years');
          var education =  localStorage.getItem('education');
          var industry =  localStorage.getItem('industry');
          var order = localStorage.getItem('order');

          if(parseInt(place) != -1){
            valuesToSubmit += "&q[work_place_eq]="+place;
          }
          if(parseInt(work_years) != -1){
            valuesToSubmit += "&q[work_years_eq]="+work_years;
          }
          if(parseInt(education) != -1){
            valuesToSubmit += "&q[education_eq]="+education;
          }
          if(parseInt(industry) != -1){
            valuesToSubmit += "&q[company_industry_eq]="+industry;
          }

           if(order != null){
             valuesToSubmit += "&";
             valuesToSubmit += order;
           }
          //  alert(valuesToSubmit);

          valuesToSubmit = encodeURIComponent(valuesToSubmit);
          var aUrl = $(this).prop('action');
          console.log("valuesToSubmit = " + valuesToSubmit + "aUrl : " + aUrl);

          $.ajax({
            type: "POST",
            url: aUrl,
            data: valuesToSubmit,
            dataType: "html"
          }).success(function (json) {
            console.log(json);
          }).error(function (error) {
            console.log(error);
          });
      });
    });

    $('.selectpicker').on('change', function() {
      var myurl = "/jobs/search"
      var value = this.value;
      var valuesToSubmit = '';
      var place =  localStorage.getItem('place');
      var work_years =  localStorage.getItem('work_years');
      var education =  localStorage.getItem('education');
      var industry =  localStorage.getItem('industry');

      if(parseInt(place) != -1){
        valuesToSubmit += "&q[work_place_eq]="+place;
      }
      if(parseInt(work_years) != -1){
        valuesToSubmit += "&q[work_years_eq]="+work_years;
      }
      if(parseInt(education) != -1){
        valuesToSubmit += "&q[education_eq]="+education;
      }
      if(parseInt(industry) != -1){
        valuesToSubmit += "&q[company_industry_eq]="+industry;
      }

       if(1 != value){
         var order = null;
         if(2 == value){
             order = "order=by_min_salary";
         }
         else if(3 == value){
             order = "order=by_max_salary";
         }
         if(order != null){
           localStorage.setItem("order", order);
           valuesToSubmit += "&";
           valuesToSubmit += order;
         }

       }

      valuesToSubmit = encodeURIComponent(valuesToSubmit);



      $.ajax({
        type: "POST",
        url: myurl,
        data: valuesToSubmit,
        dataType: "html"
      }).success(function (json) {
        console.log(json);
        eval(json);
      }).error(function (error) {
        console.log(error);
      });

    })


    </script>


  </body>



</html>
