<!DOCTYPE html>
<html>
  <head>
    <title>今日招聘</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <link rel="shortcut icon" href="images/favicon.ico"/>
  </head>

  <body id="welcomepage">

    <div class="container-fluid">
      <div class="row">
        <%= render "comm/navbar" %>
      </div>
      <%= render "comm/flashs" %>
      <%= yield %>
    </div>
    <%= render "comm/footer" %>

    <script>

    function handleScrollTopEvent() {
      // Add smooth scrolling to all links in navbar + footer link
      $(".navbar a, footer a[href='#welcomepage']").on('click', function(event) {

       // Make sure this.hash has a value before overriding default behavior
      if (this.hash !== "") {

        // Prevent default anchor click behavior
        event.preventDefault();

        // Store hash
        var hash = this.hash;

        // Using jQuery's animate() method to add smooth page scroll
        // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 900, function(){

          // Add hash (#) to URL when done scrolling (default click behavior)
          window.location.hash = hash;
          });
        } // End if
      });
    }

    function updateItemState(objectid, value){

      if(value != 1){
        $(objectid).find("a").each(function (index) {
          $(this).removeClass("active");
          if($(this).prop("id") == value){
            $(this).addClass("active");
          }
        });
      }
      else{
        $(objectid).find("a").first().addClass("active");
      }

    }

    function updateAllFilterState() {

        var place =  localStorage.getItem('place');
        var work_years =  localStorage.getItem('work_years');
        var education =  localStorage.getItem('education');
        var industry =  localStorage.getItem('industry');
        var search = localStorage.getItem('search');

        updateItemState('#place', place);
        updateItemState('#work_years', work_years);
        updateItemState('#education', education);
        updateItemState('#industry', industry);
        if(search == null){
          $('#search-input').attr("placeholder","今日招聘").val('').focus().blur();
        }
        else{
          $('#search-input').val(search).focus().blur();
        }
        console.log("place : " + place + " workyears: " + work_years + " education: " + education + " industry: " + industry + " search :" + search);

    }

    function  handleLinkClickEventFromFilterArea() {

      $(".filter_part a").on('click', function(event){

          var value = $(this).value;
          var needUseAjax = false;
          var valuesToSubmit = filterQueryData();
          var ahref = $(this).attr("href");
          //sort new , default
          var linkid = ($(this).prop("id"));


          if(linkid=='order_new'){

            valuesToSubmit['order'] = "by_new";
            localStorage.setItem("order", "by_new");
            needUseAjax = true;
          }
          else if(linkid == 'order_default'){

            valuesToSubmit['order'] = "by_default";
            localStorage.setItem("order", "by_default");
            needUseAjax = true;
          }

          if(needUseAjax){

            var myurl = "/jobs";

            if(valuesToSubmit != null){

              $.ajax({
                type: "POST",
                url: myurl,
                data: valuesToSubmit,
                dataType: "html"
              }).success(function (json) {
                console.log("handleLinkClickEventFromFilterArea myurl: " + myurl + "\n" + "valuesToSubmit : " + JSON.stringify(valuesToSubmit) + "\n" +  "success: " + json);
                eval(json);
              }).error(function (error) {
                console.log("handleLinkClickEventFromFilterArea myurl: " + myurl + "\n" + "valuesToSubmit : " + JSON.stringify(valuesToSubmit) + "\n" +  "error: " + JSON.stringify(error));
              });
            }
          }
      });
    }

   function handleLinkClickEventFromPaginate() {

     $(document).on('click','.flickr_pagination a', {}, function(event){

         var value = $(event.target).text()
         var needUseAjax = false;
         var valuesToSubmit = filterQueryData();
         var href = $(this).attr("href");

         //will page search job list or normal job list
        //  if(href.startsWith('/jobs/search?') ||
        //    href.startsWith('/jobs?')){
        //    needUseAjax = true;
        //    if(value != null){
        //      valuesToSubmit = "page="+value;
        //    }
        //  }

        if(href.startsWith('/jobs/search?')){
          needUseAjax = true;
          if(value != null){
            valuesToSubmit["page"] = value;
          }
        }

         if(needUseAjax){

           event.preventDefault();
           event.stopImmediatePropagation();

           var myurl = "/jobs/search";
           if(href.startsWith('/jobs?')){
              myurl = "/jobs";
           }
           myurl = window.location.origin + myurl;

           if(valuesToSubmit != null){

             $.ajax({
               type: "POST",
               url: myurl,
               data: valuesToSubmit,
               dataType: "html"
             }).success(function (json) {
               console.log("handleLinkClickEventFromPaginate herf:" + href + " myurl: " + myurl + "\n" + "valuesToSubmit : " + JSON.stringify(valuesToSubmit) + "\n" +  "success: " + json);
               eval(json);
             }).error(function (error) {
               console.log("handleLinkClickEventFromPaginate myurl: " + myurl + "\n" + "valuesToSubmit : " + JSON.stringify(valuesToSubmit) + "\n" +  "error: " + JSON.stringify(error));
             });
           }
         }
     });
   }

    function handleSearchFormSubmitEvent() {

           $("#job_search").submit(function(event) {

            var search =  $('#search-input').val();
            console.log("search : " + search);
            localStorage.setItem('#search-input', search);
             event.preventDefault() ;
             event.stopPropagation();
              // alert("Form Submission prevented / stoped.");
              // return

              event.preventDefault();
              event.stopImmediatePropagation();

               var searchword = $(this).parent().find("#search-input").val();
               localStorage.setItem("search", searchword);
              //  var valuesToSubmit = $(this).serialize();
               var valuesToSubmit = filterQueryData();
               //utf8=✓&q[searchjob_cont]=&q[title_cont]=
              //  valuesToSubmit = decodeURIComponent(valuesToSubmit);
              //  valuesToSubmit += filterQueryStr();
              //  var encodeValues = encodeURIComponent(valuesToSubmit);
               var myurl = $(this).prop('action');
               localStorage.setItem('currentUrl', myurl);
              //  myurl = window.location.origin + myurl;

               $.ajax({
                 type: "POST",
                 url: myurl,
                 data: valuesToSubmit,
                 dataType: "html"
               }).success(function (json) {
                 eval(json);
                 console.log("handleSearchFormSubmitEvent myurl: " + myurl + "\n" + "valuesToSubmit : " + JSON.stringify(valuesToSubmit) + "\n" +  "success: " + json);
               }).error(function (error) {
                 console.log("handleSearchFormSubmitEvent myurl: " + myurl + "\n" + "valuesToSubmit : " + JSON.stringify(valuesToSubmit) + "\n" +  "error: " + JSON.stringify(error));
               });
           });
     }

    function filterQueryData() {

      var valuesToSubmit = '';
      var place =  localStorage.getItem('place');
      var work_years =  localStorage.getItem('work_years');
      var education =  localStorage.getItem('education');
      var industry =  localStorage.getItem('industry');
      var order =  localStorage.getItem('order');
      var search = localStorage.getItem('search');
      var plainObject = {};

      //alert("place1" + parseIntq(place,10));
      var q = {};
      plainObject["q"] = q;
      if(place != null && (parseInt(place,10) != 1)){
        // valuesToSubmit += "&q[work_place_eq]="+place;
        q["work_place_eq"] = place;q
        //alert("place2" + parseInt(place,10));
        console.log("--< place " + JSON.stringify(plainObject["q"]));
      }

      if(work_years != null && parseInt(work_years) != 1){
        // valuesToSubmit += "&q[work_years_eq]="+work_years;
        q["work_years_eq"] = work_years;
      }
      if(education != null && parseInt(education) != 1){
        // valuesToSubmit += "&q[education_eq]="+education;
        q["education_eq"] = education;
      }
      if(industry != null && parseInt(industry) != 1){
        // valuesToSubmit += "&q[company_industry_eq]="+industry;
        q["company_industry_eq"] = industry;
      }
      if(search != null){
        q['searchjob_cont'] = search;
      }
      if(order != null &&  order instanceof String){
        plainObject["order"] = order;
      }

      console.log("--> place2: " + parseInt(place) + " work_years " + work_years + " education " + education + " industry "+ industry + " order " + order + " search " + search);
      console.log("--> plainObject: " + JSON.stringify(plainObject));
      return plainObject;
    }

    function handleOrderBySalaryEvent() {

        $('.selectpicker').on('change', function() {

          var myurl = localStorage.getItem('currentUrl');
          if(myurl == null){
            myurl = '/jobs'
          }
          if(!myurl.startsWith('http')){
            myurl = window.location.origin + myurl;
          }

          var value = this.value;
          var valuesToSubmit = filterQueryData();

           if(1 != value){
             var order = null;
             if(2 == value){
                 valuesToSubmit["order"] = "by_min_salary";
                  localStorage.setItem("order", 'by_min_salary');
             }
             else if(3 == value){
                 valuesToSubmit["order"] = "by_max_salary";
                 localStorage.setItem("order", 'by_max_salary');
             }

           }
          $.ajax({
            type: "POST",
            url: myurl,
            data: valuesToSubmit,
            dataType: "html"
          }).success(function (json) {
            console.log("myurl: " + myurl + "\n" + "valuesToSubmit : " + JSON.stringify(valuesToSubmit) + "\n" +  "success: " + json);
            eval(json);
          }).error(function (error) {
            console.log("myurl: " + myurl + "\n" + "valuesToSubmit : " + JSON.stringify(valuesToSubmit) + "\n" +  "error: " + JSON.stringify(error));
          });

        });
    }

    function turnOnRemoteDataForSearchFormIfNeeded() {
      var path = window.location.pathname;
      if(path == '/'){
        $("#job_search").attr('data-remote', false);
        $("#job_search").attr('action', '/jobs');
      }
      else{
        $("#job_search").attr('data-remote', true);
      }
      console.log("page path : " + path);
    }

    function updateLinkStateForFilterArea() {

      $(".filter_part a").on('click', function(event){
          var id = $(this).parent().prop("id");
          var type = parseInt($(this).prop("id"));
          if(id == "more_place"){
            localStorage.setItem('place', type);
          }
          else if(id == "more_industry"){
            localStorage.setItem('industry', type);
          }
          else{
            localStorage.setItem(id, type);
          }
          $(this).parent().find("a").removeClass("active");

          if('more_place' == id || 'more_industry' == id){
               $(this).parent().parent().find("a").removeClass("active");
          }
          $(this).addClass("active");

          console.log("updateLinkStateForFilterArea: " + id + " type: " + type);
      });
    }

    function hideJobMoreButton() {
      $("#more_place").hide();
      $("#more_industry").hide();
    }


    jQuery.fn.rotate = function(degress){
      $(this).css(
        {
          // '-webkit-transform' : 'rotate('+degress+'deg)',
          // '-moz-transform' : 'rotate('+degress+'deg)',
          // '-ms-transform' : 'rotate('+degress+'deg)',
          // 'transform' : 'rotate('+degress+'deg)',
        }
      );
    }

    jQuery.fn.flipy = function(flip){
      $(this).css(
        {
          // '-webkit-transform' : 'rotate('+degress+'deg)',
          // '-moz-transform' : 'rotate('+degress+'deg)',
          // '-ms-transform' : 'rotate('+degress+'deg)',
          // 'transform' : 'rotate('+degress+'deg)',
          'transform' : 'scale(1,'+flip+')',
        }
      );
    }

    var rotationPlaceArrow = 0;
    var rotationIndustryArrow = 0;

    function animateRotate(angle, element){
      $({deg: 0}).animate({deg: angle}, {
        duration: 500,
        step: function(now){
            element.rotate(now)
        }
      });
    }

    function animateFlipY(flip, element){
      $({deg: 0}).animate({deg: flip}, {
        duration: 100,
        step: function(now){
            element.flipy(now)
        }
      });
    }

    var   flipPlace = 1;
    var   flipIndustry = 1;

    function handleBtnMoreEvent() {

      $("#btn-more-place").click(function functionName() {

        $('#more_place').fadeToggle();
        flipPlace = flipPlace == -1? 1 :-1;
        animateFlipY(flipPlace, $('#place .fa-sort-desc'));
      });

      $("#btn-more-industry").click(function functionName() {
        $('#more_industry').fadeToggle();
        flipIndustry = flipIndustry == -1 ? 1: -1;
        animateFlipY(flipPlace, $('#industry .fa-sort-desc'));
      });
    }

    function animateFilterPanelWhenHeightChanged() {

      var start_height = $('.li_normal_filter').height() + 100;

      console.log('li_normal_filter start_height : ' + start_height);
      $("#btn-more-place").click(function functionName() {
         $place = $('#more_place');
         $filter_option = $('.li_normal_filter');
         if($place.is(':visible')){
             $place.fadeToggle('slow', function() {
             $filter_option.animate({height:start_height});
             flipPlace = flipPlace == -1? 1 :-1;
             animateFlipY(flipPlace, $('#place .fa-sort-desc'));
           })
         }
         else{
           console.log('$place.height() : ' + $place.outerHeight());
           $filter_option.animate({height: ($place.height() +start_height)+'px'}, 'slow', function() {
             $('#more_place').toggle();
             flipPlace = flipPlace == -1? 1 :-1;
             animateFlipY(flipPlace, $('#place .fa-sort-desc'));
           });
         }
      });
    }


    $(document).ready(function(){

          hideJobMoreButton();

          handleBtnMoreEvent();
          //animateFilterPanelWhenHeightChanged();

          handleScrollTopEvent();

          updateLinkStateForFilterArea();
          //turn on remote function for search from only for job controller
          turnOnRemoteDataForSearchFormIfNeeded();
          // update select status
          updateAllFilterState();
          // hook order by new or default event
          handleLinkClickEventFromFilterArea();
          // hook paginate event
           handleLinkClickEventFromPaginate();
          //hook submit event
           handleSearchFormSubmitEvent();
          //hook order by salary vent
           handleOrderBySalaryEvent();
        });

</script>


  </body>



</html>
